@model List<PostListVm>
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "صفحه اصلی";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 id="top">درباره ما</h1><p>
سلام.میترا نجفی هستم.در حال یادگیری برنامه نویسی.
        اینجا هرچیزی که توی این راه یاد میگیرم رو باهاتون به اشتراک میذارم.</p>

    </div>
</section>
<div class="album py-3 bg-light">
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm text-right">
                            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                            <img src="data:image/jpeg;base64, @item.Image" alt="@item.Title" class="img-fluid" style="height:225px" />
                            <div class="card-body">
                                <p class="card-text">@item.Title</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-controller="Post" asp-action="Detail" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-secondary">بیشتر</a>
                                        @*<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>*@
                                    </div>
                                    <div class="input-group-text">
                                        <img src="~/img/like.png" alt="Like" width="30" height="30" class="mx-2" />
                                        <span class="text-muted">@item.Like</span>
                                        <img src="~/img/Dislike.png" alt="DisLike" width="30" height="30" class="mx-2" />
                                        <span class="text-muted">@item.DisLike</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
        }
    </div>
</div>
